.gridContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.gridBox{
  border: 1px solid black;
  height: 20px;
  width: 20px;

}

.colorContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: white;
  margin: 20px;
}

.colorBox{
  border: 1px solid black;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 20px;
}

#red{
  background: red;
}

#yellow{
  background: yellow;
}
#blue{
  background:blue;
}
#purple{
  background: purple;
}
#orange{
  background:orange;
}
#green{
  background:green;
}
#gray{
  background: gray;
}
#white{
  background:white;
}
#lightblue{
  background: lightblue;
}
#brown{
  background: brown;
}
#black{
  background: black;
}

.brushColor{
  background: white;
  border-radius: 50%;

}
.currentColor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  align-content: space-between;
}

td.gridTest{
  display: grid;
  grid-template-columns: 20px;
  grid-template-rows: 20px;
  border: 3px solid black;
}
