h1 {
  font-family: 'Walter Turncoat', cursive;
  text-align: center;
  font-size: 40px;
}
.heading{
  font-family: 'Walter Turncoat', cursive;
  text-align: center;
  font-size: 25px;
}
.gridContainer{
  text-align: center;
  margin: auto;
}
.gridRow{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.gridBox{
  border: 1px solid black;
  height: 20px;
  width: 20px;
  cursor: cell;
  margin-right: -1px;
  margin-bottom: -1px;
}

.colorContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
}

.colorBox{
  border: 1px solid black;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 10px;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.brushColor{
  background: white;
  border-radius: 50%;
  align-self: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.currentColor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align:center;
}
