.gridContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.gridBox{
  border: 1px solid black;
  height: 10px;
  width: 10px;
}

.colorContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: white;
}

.colorBox{
  border: 1px solid black;
  height: 10px;
  width: 10px;
}

#red{
  background: red;
}

#yellow{
  background: yellow;
}

.brushColor{
  background: white;
}

/*#line1{

}
#line2{

}*/
